* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
