.logo {
  fill: var(--main-color);
  cursor: pointer;
  transition: fill var(--timing-function);

  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}
