.header {
  padding: 36px 0;
  background-color: var(--light-color);
}

.wrapper,
.btnWrapper {
  display: flex;
  align-items: center;
}

.wrapper {
  justify-content: space-between;
}

.btnWrapper {
  gap: 12px;
}

@media (max-width: 767px) {
  .hideWrapper {
    display: none;
  }
}
